body, html{
  padding: 0;
  margin: 0;
}
.wrapper {
  font-size: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  &_bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
  }
}
#canvas1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
#canvas2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}