#root {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #999;
  height: 100vh;
  color: #fff;
  padding: 20px;

  .game_content {
    border: 2px solid #c0c0c0;
    padding: 20px;
    border-radius: 5px;
    height: 60vh;

    .game_row {
      display: flex;
      align-items: center;
      height: 23%;
      margin: 1% 0;
      justify-content: center;
    }

    .game_col {
      width: 23%;
      margin: 0 1%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #e49b51;
      font-size: 30px;
      border-radius: 5px;
      font-weight: bold;
    }
  }

  .btn_ground {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
      padding: 10px 0;
      text-align: center;
      width: 25%;
      margin: 0 20px;
      background: #2e8423;
      font-size: 20px;
      font-weight: bold;
      border-radius: 5px;
    }
  }
}