body, html{
  padding: 0;
  margin: 0;
  background: #111;
}

.wrapper {
  font-size: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
  max-width: 550px;
  margin: 0 auto;
  background: #111 url("../images/bg2.jpg") center center repeat-y;
  background-size: auto 100%;
  background-position-y: 0;
  animation: moveBg 15s infinite linear;
}

@keyframes moveBg {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100vh;
  }
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

#gameover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gameFooter {
  position: absolute;
  z-index: 50;
  left: 10px;
  bottom: 10px;
  font-size: 16px;
  color: #fff;
}

.gameStart {
  position: absolute;
  background: #111 url("../images/bg2.jpg") center center repeat-y;
  background-size: auto 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  color: #fff;

}

.btn {
  background: #fff;
  color: #d42e2e;
  font-weight: bold;
  padding: 10px 30px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(41, 18, 18, 0.5);
}
.hide {
  display: none !important;
}
